<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logan20.draganddropgame">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".PlayActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".InstructionActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ParentMainActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ParentViewStatistics"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LeaderboardsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".ViewHighscoreChart"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>